@media screen and (min-width: 700px){

    main{
        width: 400px;
    }

    header{
        height: 196px;
    }

    body{
        background-image: url(images/pattern-background-desktop.svg);
    }

}